.login-con {
  height: 80vh;
  padding-left: 3rem;
  padding-top: 5rem;
  padding-bottom: 7rem;
}

.login-con .login-form {
  width: 40%;
}

.login-con img {
  position: absolute;
  right: 0;
  width: 600px;
  z-index: 100;
}
