.footer-con {
  background-color: rgba(255, 99, 71, 80%);
  padding: 8rem 0;
}

.footer-con a,
.footer-con .quick-form p {
  color: var(--white-color);
}

.footer-con .logo {
  background-color: var(--bg-color);
  padding: 1rem;
  border-radius: 10px;
}

.footer-con ul {
  text-align: center;
}

.footer-con ul li {
  padding: 1rem;
}

.footer-con .quick-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.footer-con .quick-form p {
  font-weight: 700;
}

.footer-con .quick-form input {
  padding: 20px 15px;
  border-radius: 10px;
}

.wave {
  position: relative;
  /* margin-bottom: -4px; */
}

.custom-shape-divider-top-1702883696 {
  z-index: 88;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1702883696 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1702883696 .shape-fill {
  fill: #ffffff5d;
}
