.position-con {
  padding: 4rem 0;
  gap: 2rem;
}
.position {
  background-color: rgba(76, 175, 80, 30%);
  border-radius: 10px;
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: self-start;
}

.position ul {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 1rem;
}

.position ul li {
  list-style: disc;
}
