.home-con {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home.flex {
  padding-top: 3rem;
  justify-content: flex-start;
  gap: calc(1rem);
}

.home .left {
  width: 56%;
}

.home .left p {
  width: 80%;
  margin-top: 10px;
}

.home .left .btn-con.flex {
  margin-top: 30px;
  justify-content: flex-start;
}

.home .right {
  display: flex;
}

.right .first-img {
  width: 350px;
}

.right .second-img {
  position: absolute;
  right: 0;
  top: 25%;
  width: 300px;
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}
